@using AspNetIdentity.Models
@model IEnumerable<Usuario>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Cuentas de usuarios
    </div>
    <div class="table table-responsive">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>e-Mail</th>
                <th>Teléfono</th>
                <th></th>
            </tr>
            @if (Model.Count() == 0)
            {
                <tr><td colspan="5" class="text-center">No hay usuarios registrados</td></tr>
            }
            else
            {
                foreach (Usuario usuario in Model)
                {
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@usuario.UserName</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.PhoneNumber</td>
                        <td>
                            @using (Html.BeginForm("Delete", "Admin", new { id = usuario.Id }))
                            {
                                @Html.ActionLink("Editar", "Edit", new { id = usuario.Id }, new { @class = "btn btn-primary btn-xs" })
                                <button class="btn btn-danger btn-xs" type="submit">Borrar</button>
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

@Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })

